In [212]:
import pandas as pd
import requests

In [213]:
response=requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=dab0257076d13aa0bfea83ba34f77809&language=en-US&page=1')

In [214]:
temp_df=pd.DataFrame(response.json()['results'])[['id','original_title','overview','popularity','vote_average','vote_count']]

In [215]:
temp_df.head()

,id,original_title,overview,popularity,vote_average,vote_count
0,278,The Shawshank Redemption,Imprisoned in the 1940s for the double murder ...,28.9882,8.712,28882
1,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",29.4675,8.686,21829
2,240,The Godfather Part II,In the continuing saga of the Corleone crime f...,16.3541,8.570,13186
3,424,Schindler's List,The true story of how businessman Oskar Schind...,15.2484,8.566,16700
4,389,12 Angry Men,The defense and the prosecution have rested an...,15.8933,8.500,9396

In [216]:
df=pd.DataFrame()

In [217]:
df

Empty DataFrame
Columns: []
Index: []

In [235]:
df_list = []

# Loop through pages
for i in range(1, 4):
    response = requests.get(
        f'https://api.themoviedb.org/3/movie/top_rated?api_key=dab0257076d13aa0bfea83ba34f77809&language=en-US&page={i}'
    )
    data = response.json()
    if 'results' in data:
        temp_df = pd.DataFrame(data['results'])[
            ['id', 'original_title', 'overview', 'popularity', 'vote_average', 'vote_count']
        ]
        df_list.append(temp_df)
    else:
        print(f"Page {i} did not return valid results.")

# Concatenate all dataframes
df = pd.concat(df_list, ignore_index=True)

In [237]:
df.head()

,id,original_title,overview,popularity,vote_average,vote_count
0,278,The Shawshank Redemption,Imprisoned in the 1940s for the double murder ...,28.9882,8.712,28882
1,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",29.4675,8.686,21829
2,240,The Godfather Part II,In the continuing saga of the Corleone crime f...,16.3541,8.570,13186
3,424,Schindler's List,The true story of how businessman Oskar Schind...,15.2484,8.566,16700
4,389,12 Angry Men,The defense and the prosecution have rested an...,15.8933,8.500,9396

In [239]:
df.shape

(60, 6)

In [241]:
df.to_csv('movies.csv')